@font-face {
  font-family: 'DroidSerif';
  src: URL("DroidSerif-Italic.ttf") format("ttf");
}

#background {
  width: 100%;
  min-height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  position: relative;
  margin-bottom: 25cvw;
}

.container {
  text-align: center;
}

.navbar {
  padding-top: 25px;
}

.navbar-nav {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.navbar-toggler, .navbar-dark, .navbar-nav, .nav-link {
  color: white !important;
}

.nav-link {
  font-size: 14px;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
}

.services, .portfolio, .about, .team {
  margin-bottom: 16vw;
}

.home {
  margin-top: 15vw;
  margin-bottom: 20vw;
}

.home h1 {
  font-size: 30px;
  font-family: "DroidSerif";
  color: white;
  font-style: italic;
  line-height: 1.2;
  z-index: 2;
}

.home h2 {
  font-size: 60px;
  font-family: "Montserrat";
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  z-index: 3;
  width: 100%;
}

.home button {
  width: 240px;
  height: 65px;
  border-radius: 3px;
  font-family: "Montserrat";
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  border: none;
  background-color: #fed136;
  z-index: 2;
}

.home h1, .home h2, .home button {
  margin: 0 auto 40px auto;
}

.services h1 {
  font-size: 40px;
  font-family: "Montserrat";
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
}

.services h2 {
  font-size: 16px;
  font-family: "DroidSerif";
  color: #777777;
  font-style: italic;
  line-height: 1.2;
}

.services h3 {
  font-size: 18px;
  font-family: "Montserrat";
  color: #222222;
  font-weight: bold;
}

.services p {
  font-size: 14px;
  font-family: "RobotoSlab";
  color: #777777;
  line-height: 1.2;
}

.services i {
  color: #fed136;
  background-color: #fff;
  border-style: solid;
  border-width: 3px;
  border-color: #fed136;
  border-radius: 50%;
  line-height: 1.9;
  width: 75px;
  height: 75px;
  font-size: 35px;
  margin-top: 70px;
  margin-bottom: 20px;
  transition: 5ms;
}

.services i:hover {
  background-color: #fed136;
  color: #000;
}

.portfolio [class*="col"] {
  width: 290px;
  padding: 0;
}

.portfolio h1 {
  font-size: 40px;
  font-family: "Montserrat";
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.875;
}

.portfolio h2 {
  font-size: 16px;
  font-family: "DroidSerif";
  color: #777777;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 90px;
}

.portfolio h3 {
  font-size: 18px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 30px;
}

.portfolio p {
  font-size: 14px;
  font-family: "DroidSerif";
  color: #737373;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 80px;
}

.about h1 {
  font-size: 18px;
  font-family: "Montserrat";
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
}

.about p {
  font-size: 14px;
  font-family: "RobotoSlab";
  color: #777777;
  line-height: 1.2;
}

.about button {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  border: 7px solid #f1f1f1;
  border-radius: 50%;
  background-color: #fed136;
  width: 183px;
  height: 183px;
  transition: 1s;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  cursor: pointer;
}

.about button:hover {
  border-color: #fed136;
  color: black;
}

.team img {
  border-style: solid;
  border-width: 7px;
  border-color: white;
  border-radius: 50%;
  background-color: #111111;
  transition: 5ms;
}

.team img:hover {
  border-color: #111111;
}

.team h1 {
  font-size: 40px;
  font-family: "Montserrat";
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.team h2 {
  font-size: 16px;
  font-family: "DroidSerif";
  color: #777777;
  font-style: italic;
  line-height: 1.2;
}

.team h3 {
  font-size: 16px;
  font-family: "Montserrat";
  color: #222222;
  font-weight: bold;
  line-height: 3.125;
}

.team p {
  font-size: 16px;
  font-family: "RobotoSlab";
  color: #777777;
  line-height: 1.2;
}

.team p:only-child {
  margin-top: 40px;
}

.team a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 3px solid #222222;
  border-radius: 50%;
  margin-left: 10px;
  transition: 5ms;
  color: #222222;
}

.team a i {
  padding-top: 7px;
}

.logo img {
  margin-bottom: 60px;
  margin-left: 20px;
}

.contact {
  padding-top: 110px;
  width: 100%;
  position: relative;
  background-color: #222222;
}

.contact img {
  height: 90%;
  position: absolute;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact input, .contact textarea {
  width: 100% !important;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-bottom: 33px;
}

.contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "Montserrat";
  color: #bbbbbb;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.contact input:-ms-input-placeholder, .contact textarea:-ms-input-placeholder {
  font-size: 14px;
  font-family: "Montserrat";
  color: #bbbbbb;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.contact input::placeholder, .contact textarea::placeholder {
  font-size: 14px;
  font-family: "Montserrat";
  color: #bbbbbb;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.contact h1 {
  font-size: 40px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.contact h2 {
  font-size: 16px;
  font-family: "DroidSerif";
  color: #777777;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 80px;
}

.contact button {
  font-size: 18px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  width: 240px;
  height: 66px;
  border-radius: 3px;
  background-color: #fed136;
  margin-bottom: 110px;
  transition: 5ms;
}

footer {
  margin-top: 10px;
}

footer .social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #222;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #fff;
}

footer .social a i {
  padding-top: 12px;
}

footer p, footer a:only-child {
  font-size: 14px;
  font-family: "Montserrat";
  color: #555555;
  line-height: 1.571;
  float: left;
  margin-top: 8px;
}

footer a:only-child {
  float: right;
}

.twitter:hover {
  border-color: #00aced;
  background-color: #00aced;
  color: #fff;
}

.facebook:hover {
  border-color: #3b5998;
  background-color: #3b5998;
  color: #fff;
}

.pinterest:hover {
  border-color: #cb2028;
  background-color: #cb2028;
  color: #fff;
}

.google:hover {
  border-color: #da2713;
  background-color: #da2713;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */